<div class="login-wrapper">
  <div class="left-scene">
    <%= image_tag 'logo_banner_white.svg', class: "logo" %>
    <%= image_tag 'net.svg', class: 'net' %>
    <div class="quote">
      <%= image_tag('quote.svg') %>
      <span class="large">Most people think ‘selling’ is the same as ‘talking’. But the most effective salespeople know that listening is the most important part of their job.</span>
      <div class="stretch">
        <span class="author">Roy Bartell</span>
        <%= image_tag 'quote.svg', class: 'reverse' %>
      </div>
    </div>
  </div>
  <div class="right-scene">
    <div class="right-scene-container">
      <div class="header">
        <h4 class="bold"><%= "Hey#{resource.first_name ? " #{resource.first_name}" : ''}" %>, forgot your password?</h4>
        <span class="normal">Please enter your email, to receive reset instructions.</span>
      </div>
      <div class="seperater"></div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'login-form' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="move-placeholder-wrapper">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'move-placeholder-input' %>
          <%= f.label :email, class: 'move-placeholder-placeholder' %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'secondary stretch' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
